Package: chimera
Version: 1.0
Section: deploy
Priority: optional
Architecture: all
Essential: no
Depends: ruby1.8
Installed-Size: 1024
Maintainer: Brandon Arp <brandon@arpnetworking.com>
Provides: chimera
Description: Chimera deployment system
 The chimera deployment system.  This package will enable chimera deployments to take place on the machine.  Chimera environments are located in a subdirectory of /chimera/
